.mainScroller{
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgb(52, 52, 52);
    display: none;
    color: white;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    opacity: 0.8;
    z-index: 5;
}

.scroll-icon{
    font-size: 1rem;
}

.mainScroller:hover{
    cursor: pointer;
    opacity: 1;
}

.show-scroll{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .mainScroller{
        bottom: 1rem;
        right: 1rem;
    }
}
@media screen and (max-width: 425px) {
    .mainScroller{
        bottom: .5rem;
        right: .5rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}